.CartProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.CartProduct__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.CartProduct__title {
  text-align: justify;
  margin-top: 0;
  padding: 0 20px;
  font-size: 16px;
}

.CartProduct img {
  width: 150px;
  max-height: 200px;
  padding: 30px 0 30px 30px;
  object-fit: scale-down;
  box-sizing: border-box;
  margin: auto;
}

.CartProduct__quantity span {
  margin: 0 5px;
}

.CartProduct__quantity button {
  width: 22px;
  font-size: 15px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  outline: none;
}

.CartProduct__remove {
  width: 70px;
  padding: 3px;
  font-size: 13px;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: #45ecd3;
  color: #000000;
  outline: none;
  cursor: pointer;
}
