@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap");

.hero {
  width: 100%;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
}

.hero-title {
  font-size: 45px;
  margin: 20px 0;
  text-align: center;
  font-family: "Baloo 2", cursive;
}

.hero-description {
  display: none;
}

.hero-img {
  width: 100%;
}
