.ModalSidebar {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
.ModalSidebar.is-open {
  opacity: 1;
  pointer-events: auto;
}

.ModalSidebar__overlay {
  background-color: rgba(222, 222, 222, 0.85);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.ModalSidebar.is-open .ModalSidebar__overlay {
  opacity: 1;
}

.ModalSidebar__body {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 2px 36px rgba(0, 0, 0, 0.25);
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.333s ease-out;
}
.ModalSidebar.is-open .ModalSidebar__body {
  opacity: 1;
  transform: translateX(0);
}

.ModalSidebar__header {
  background-color: #1d3354;
  color: #ffffff;
}

.ModalSidebar__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 700px) {
  .ModalSidebar__body {
    width: 500px;
  }
}
