.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #888888;
  border-radius: 5px;
  max-width: 520px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 2px #808080;
}

.modal-content img {
  width: 250px;
  height: 250px;
  object-fit: scale-down;
}

.modal-text {
  text-align: left;
  font-size: 15px;
}

.modal-price {
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: right;
}

.modal-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  border: none;
  background-color: #ffffff;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
